* {
  box-sizing: border-box;
}

html {
  font-family: minion-3, minion pro, minion, serif;
}

body {
  margin: 0;
}

img,
audio,
video {
  max-width: 100%;
  vertical-align: top;
}

a {
	color: black;
}

.LoadingText {
  position: fixed;
  top: 47vh;
  font-size: 3rem;
  width: 100vw;
  text-align: center;
}

.LoadingText.inactive {
  display: none;
}


h1 {
	font-size: 2.5rem;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: normal;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.Link {
	font-size: 1.2rem;
}

.mb0 {
	margin-bottom: 0;
}

/******** Grid  *********/

.GridOrchestra {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.1rem;
	padding: 0.3rem;
}

.GridOrchestra-box {
	/*border:2px solid red;*/
}

.GridOrchestra.Loading {
  opacity: 0.05;
}

.Presentation {
	grid-column: 1/5;
	grid-row:1/2;
	margin-left:2rem;
}

.Credits {
	grid-column: 4/6;
	grid-row: 11/12;
	text-align: right;
	font-size: 2rem;
	margin-top:0.2rem;
}

video-custom.Percussion {
	grid-column: 6/8;
	grid-row: 1/4;
	margin-top:2rem;
	margin-left:0.5rem;
	margin-right:0.5rem;
	margin-bottom:0.5rem;
}

video-custom.Moog {
	grid-column: 8/10;
	grid-row: 1/4;
	margin:0.5rem;
	margin-top: 3rem;
}

video-custom.Drums {
	grid-column: 10/13;
	grid-row: 1/4;
	margin:0.5rem;
	margin-right:3rem;
}

video-custom.Marimba {
	grid-column: 1/4;
	grid-row: 2/5;
	margin-top:2rem;
	margin-left:2rem;
	margin-right:0.5rem;
	margin-bottom: 0.5rem;
}

video-custom.Piano {
	grid-column: 4/6;
	grid-row:2/6;
	margin:0.5rem;
}

video-custom.Main {
	/* all videos */
	grid-column: 6/10;
	grid-row: 4/9;
	margin:0.5rem;
}

video-custom.Violin {
	grid-column: 10/13;
	grid-row: 4/8;
	margin: 0.5rem;

}

video-custom.Harp {
	grid-column: 1/4;
	grid-row: 5/10;
	margin-left: 3rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

video-custom.Trombone {
	grid-column: 4/6;
	grid-row: 6/11;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
	
}

video-custom.Cello {
	grid-column: 6/8;
	grid-row:9/12;
	margin: 0.5rem;
}

video-custom.Tuba {
	grid-column: 10/13;
	grid-row: 8/11;
	margin:0.5rem;
	margin-right:2rem;
}

.Release {
	grid-column: 1/4;
	grid-row: 10/12;
	/* content bottom aligned*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	margin-left:2rem;
}

.SocialLinks {
	grid-column: 10/13;
	grid-row: 11/12;
	display: flex;
	align-items: flex-end;
}

/******** Videos *********/

video-custom {
  /* avoid cell overflow on Chrome */
  overflow: hidden;
  position: relative;
}

video-custom h3 {
  position: absolute;
  color: white;
  font-size: 0.875rem;
	font-weight: normal;
	width: 100%;
	bottom:-1%;
	text-align: center;

}

video-custom h3.active {
  color: red;
}

.GridOrchestra video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.1rem solid transparent;
  border-radius: 1px;
}

/********* social logos ******/

.Page {
	margin: 2rem;
	max-width: 30rem;
}

.SocialLinks > * {
	margin:0.7rem;
}

.SocialLinks-website {
	font-size:1.7rem;
}
